   body {
     font-family: "Open Sans", sans-serif;
   }

   /* Header */
   .header {
     background-color: #FFF8F3;
     background-image: url(./portfolio-resources-main/images/header_bg.png);
     background-repeat: no-repeat;
     background-position: bottom right;
   }

   .dev-background {
     background-image: url(./portfolio-resources-main/images/developer.png);
     background-repeat: no-repeat;
     background-position: 23px;
   }

   nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0px 220px 0px 230px;
     padding-top: 10px;
   }

   .primary-color {
     color: #FD6E0A;
   }

   .nav-title {
     font-size: 45px;
     font-style: normal;
     font-weight: 800;
   }

   nav>ul {
     display: flex;
     align-items: center;

   }

   nav li {
     list-style: none;
     margin-left: 51px;
   }

   nav a {
     text-decoration: none;
     color: #474747;
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
   }

   .btn-primary {
     border-radius: 5px;
     background: #FD6E0A;
     color: #FFF;
     font-size: 20px;
     font-weight: 700;
     border: none;
     padding: 18px 35px;
   }

   .banner-intro {
     margin-top: 100px;
   }

   .banner {
     padding: 24px 38px 0px 230px;
     display: flex;
     justify-content: space-between;
   }

   .banner-greet {
     color: #474747;
     font-size: 45px;
     font-weight: 600;
   }

   .banner-title {
     font-size: 85px;
     font-weight: 700;
     margin-top: -30px;
   }

   .banner-des {
     color: #757575;
     font-size: 18px;
     font-weight: 400;
     margin-top: -30px;
     margin-bottom: 30px;
     width: 585px;
   }

   .btn-contact {
     border-radius: 5px;
     background: white;
     color: #FD6E0A;
     font-size: 20px;
     font-weight: 700;
     border: solid 1px;
     padding: 18px 35px;
     margin-left: 30px;
   }

   .section-title {
     text-align: center;
     font-size: 35px;
     font-weight: 700;
   }

   .about-section {
     margin: 130px 200px;
     border-radius: 10px;
     background: #FFF8F3;
     padding: 100px;
   }

   .about-content {

     display: flex;
     padding: 20px;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     border: solid 1px #000;
     background: #FFF;
   }

   .section-des {
     color: #757575;
     text-align: center;
     font-size: 18px;
     font-weight: 400;
     line-height: 30px;
   }

   .about-info {
     display: flex;
     gap: 50px;
   }

   .info-title {
     color: #757575;
   }

   .info {
     text-align: center;
     font-size: 20px;
     font-weight: 400;
   }

   .skill-desc {
     color: 757575;
     text-align: center;
     font-size: 18px;
     width: 909px;
     margin: auto;
     font-weight: 400;
     line-height: 30px;
   }

   .skill-container {
     display: flex;
     gap: 24px;
     margin: 50px 230px;
   }

   .skills {
     border-radius: 5px;
     background: #FFF;
     padding: 30px;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   }

   .skill-title {
     font-size: 20px;
     font-weight: 700;
   }

   .skill-des {
     color: #757575;

     font-size: 16px;

     font-weight: 400;
     line-height: 28px;
   }

.resume-container{
  margin: 100px 0px  ;
}
   .summary-title{
    color:  #474747;
font-size: 30px;
font-weight: 700;
   }

   .summary-columns{
    display: flex;
    gap: 24px;
    margin: 50px 230px;
    
   }
   .work-title{
    color:  #474747;
  
    font-size: 25px;
 
    font-weight: 700;
    line-height: normal;
   }
   .work-place{
    color:  #757575;  
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
   }
   .work-des{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    width: 511px;
   }
   .work-container > hr{
    width: 558px;
    height: 1px;
    background: #D1D1D1;
    margin: 30px 0px;
   }
.Download{
  display: flex;
  justify-content: center;
}

footer{
  background: #FFF8F3;
  display: flex;
  padding: 130px 230px;
  gap: 117px;

}

.media > h3{
  color:  #181818;

font-size: 35px;

font-weight: 700;

}
.media > p{
  color:  #474747;

font-size: 16px;

font-weight: 400;


}
.media > img{
  margin: 24px 24px 0px 0px;
}

.contact-form input[type="text"],input[type="email"], textarea{
margin-bottom: 25px;
padding: 18px 35px;
color:  #757575;
font-size: 16px;
font-weight: 400;
border: 0px;
width: 100%;

}

